*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #222222;
  background-color: #41e1ba;
  transition: background-color 300ms ease-in-out;
}

.App {
  max-width: 64rem;
  margin: 0 auto;
}

.working {
  background-color: #ef5d50;
}

.hidden {
  display: none;
}

.pomodoro {
  background-color: #fff;
  margin: 5rem 0;
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pomodoro h1 {
  font-size: 2.4rem;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro .controls {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pomodoro button {
  background-color: #41e1ba;
  padding: 1rem 2.5rem;
  border-radius: 4px;
  transition: background-color 300ms ease-in-out;
  color: #000;
}

.pomodoro button:hover {
  background-color: #15cb9e;
}

.working .controls button {
  color: #fff;
  background-color: #ef5d50;
}

.pomodoro .details {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.pomodoro p {
  font-size: 1.6rem;
  font-weight: bold;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

button {
  font-family: inherit;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  transition: background-color 0.2s ease;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: 1.6rem;
  outline: none;
  transition: border-color 0.3s ease;
  line-height: 1;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #007bff; /* VARIÁVEL */
  outline: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
}

th {
  background-color: #f8f8f8; /* VARIÁVEL */
  font-weight: 600;
}

::selection {
  background-color: #007bff; /* VARIÁVEL */
  color: white;
}

:focus-visible {
  outline: 0.2rem solid #0056b3; /* VARIÁVEL */
  outline-offset: 0.2rem;
}
